.option-container {
    background-color: rgb(189, 217, 242);
    width: 65%;
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.destroyer-preview {
    width: 40px;
    height: 20px; /* Smaller height */
    background-color: rgb(223, 2, 2);
    margin: 10px;
    border-radius: 8px;
}

.submarine-preview {
    width: 60px;
    height: 25px; /* Smaller height */
    border-radius: 8px;
    background-color: rgb(30, 230, 220);
}

.cruiser-preview {
    width: 85px;
    height: 30px; /* Smaller height */
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
}

.battleship-preview {
    width: 90px;
    height: 35px; /* Smaller height */
    border-radius: 8px;
    background-color: rgb(77, 26, 218);
}

.carrier-preview {
    width: 100px;
    height: 40px; /* Smaller height */
    border-radius: 8px;
    background-color: rgb(22, 248, 44);
}

button{
    margin: 15px;
}
p{
    text-align: center;
}

.gameboard{
    width: 500px;
    height: 500px ;
    border: 1px solid;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

#gameBoards-container{
    display: flex;
    justify-content: center;
}

.block{
    border: 1px solid ;
    width: 46px;
    height: 46px;
    border-radius: 4px;
}


/* Class to mark ships */

.taken{
    background-color: brown;
}