.option-container {
    background-color: rgb(189, 217, 242);
    width: 65%;
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.destroyer.preview {
    width: 40px;
    height: 20px; /* Smaller height */
    background-color: #2E8B57;
    margin: 10px;
    border-radius: 8px;
}

.submarine.preview {
    width: 60px;
    height: 25px; /* Smaller height */
    border-radius: 8px;
    background-color: #4BB543;
}

.cruiser.preview {
    width: 85px;
    height: 30px; /* Smaller height */
    border-radius: 8px;
    background-color: #3E6F4A ;
}

.battleship.preview {
    width: 90px;
    height: 35px; /* Smaller height */
    border-radius: 8px;
    background-color: #8EDB8D ;
}

.carrier.preview {
    width: 100px;
    height: 40px; /* Smaller height */
    border-radius: 8px;
    background-color: #A3D5A0  ;
}


button{
    margin: 15px;
}
p{
    text-align: center;
}

.gameboard{
    width: 500px;
    height: 500px ;
    border: 1px solid;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

#gameBoards-container{
    display: flex;
    justify-content: center;
}

.block{
    border: 1px solid ;
    width: 46px;
    height: 46px;
    border-radius: 4px;
}


/* Class to mark ships */

.taken.carrier{
    background-color:#A3D5A0 ;
}

.taken.submarine{
    background-color: #4BB543;
}

.taken.cruiser{
    background-color: #3E6F4A ;
}

.taken.destroyer{
    background-color: #2E8B57;
}

.taken.battleship{
    background-color: #8EDB8D ;
}